:root {
	--FourPx: 0.208vw;
	--FourPxTransformed: 0.7488vw;

	--TenPx: 0.521vw;
	--TenPxTransformed: 1.8756vw;

	--ImageSourceCardWidthOnHover: 88%;
	/* 84% 21vw */
	--ImageSourceCardHeightOnHover: 96.666%;
	/* 93.333% 28vw */
}

@media only screen and (max-width: 700px) {

	.ImageSourcesPageTitle {
		font-size: 15vw !important;
		padding: 2.8116vw !important;
	}

	.ImageSourceCardSlot {
		width: 50% !important;
		height: 54vw !important;
	}	

	.ImageSourceCard {
		--TenPx: var(--TenPxTransformed);
		--FourPx: var(--FourPxTransformed);
	}

	.ImageSourceCardDescription {
		font-size: 3vw !important;
	}

}


.ImageSourcesPageTitle {
width: 100vw;
text-align: center;
background-color: rgb(99, 124, 249);
/*CHANGE!*/
/*background-color: rgb(42, 0, 110);*/
/*border-radius: 0.521vw;*/
font-size: 5vw;
/* -> 18vw */
font-weight: bold;
color: rgb(255, 255, 255);
padding: 0.781vw;
}

.ImageSource {
	margin: 0;
}

.ImageSourceCardSlot {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 25%; /* -> 50% */
	height: 22.5vw; /* -> 54vw */
}

.ImageSourceCard {
	position: relative;
	border: var(--FourPx) solid rgb(4, 19, 51);
	border-radius: var(--TenPx);

	width: 85%;
	height: 95%;

	background-color: rgb(99, 124, 249);
	box-shadow: 0 0.208vw 0.417vw 0 rgba(0, 0, 0, 0.2), 0 0.313vw 1.042vw 0 rgba(0, 0, 0, 0.19);
	transition: 0.3s;
}

.ImageSourceCard:hover {
	box-shadow: 0 0.208vw 0.417vw 0.26vw rgba(0, 0, 0, 0.2), 0 0.313vw 1.042vw 0.26vw rgba(0, 0, 0, 0.19);
	opacity: 0.9;

	width: var(--ImageSourceCardWidthOnHover);
	height: var(--ImageSourceCardHeightOnHover);

	cursor: pointer;
}

.ImageSourceCardDescription {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(4, 19, 51);
	color: white;

	padding: 1vw 0;
	font-size: 1vw;

	font-weight: bold;
	text-align: center;
}